.g/*rig*/ {
  --cols: 5;
  --cell-size: calc(100vw / var(--cols) - 1vw - 2px);
  --max-rows: 8;

  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-template-rows: repeat(var(--max-rows), var(--cell-size));
  grid-gap: 1vw;
}

.c/*ell*/ {
  border: 1vw solid;
  cursor: pointer;
  display: grid; /* center contents */
}
.v/*alue*/ { 
  margin:auto; /* center contents */
  font-size: calc(var(--cell-size)/2);
}
.small/*alue*/ { 
  text-align: center;
  margin:auto; /* center contents */
  font-size: calc(var(--cell-size)/6);
}

.spin {
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}